<footer><!-- inicio footer seccion -->
    <nav class="container">
        <img src="/img/branding/isotype.svg" alt="isotipo de la marca funco.com">
        <ul>
            <li><a class="navbar__link" href="/shop">SHOP</a></li>
            <li><a class="navbar__link" href="/auth/login">INGRESAR</a></li>
            <li><a class="navbar__link" href="/contact">CONTACTO</a></li>
        </ul>
    </nav>
    <p style="font-size: 20px;">All rights reserved 2023 - Funkoshop &copy</p>
</footer><!-- fin footer seccion -->

