<%- include('../partials/header.ejs') %>
    <main class="login-all"><!-- inicio cuerpo principal -->
        <div class="login">
            <span class="login-box">
                <section><!-- Inicio de primera fila -->
                    <span class="login-header">
                        <h1>INGRESAR A MI CUENTA</h1>
                    </span>
                </section><!-- fin de la primera fila -->

                <div class="datos"><!-- INGRESO DATOS -->
                    <form  action="#" method="post">
                    <section><!-- EMAIL -->
                        <span class="email">
                            <label class="write" for="email">Email:</label>
                            <div>
                                <input class="complete" name="email" type="text" placeholder="ejemplo@correo.com">
                            </div>
                        </span>
                    </section><!-- fin de la EMAIL -->

                    <section><!-- PASSWORD -->
                        <span class="pass1" action="#">
                            <label class="write" for="pwd">Contraseña:</label>
                            <input class="complete" type="password" id="pwd" name="password" placeholder=" ">
                        </span>
                    </section><!-- fin de PASSWORD -->
                </div>

                <section class="ingresar"><!-- inicio de la cuarta fila -->
                    <input class="boton" id="button_login" type="submit" value="Ingresar">
                    <div class="rec">
                        <span action="#">
                            <input type="checkbox" id="recordar" name="recordar" value="recordarme">
                            <label for="recordar"> Recordarme</label><br>
                        </span>
                    </div>
                </section><!-- fin de la cuarta fila --> 

                <section class="forgot"><!-- inicio de la quinto fila -->
                    <a class="pass2" href="#">
                        <div>Olvidé mi contraseña</div>
                    </a>
                </section><!-- fin de la quinto fila -->
            </form>
            </span>
        </div>
    </main><!-- fin cuerpo principal -->

    <%- include('../partials/footer.ejs') %>
</body>
</html>